[submodule "vendor/StartAtLoginController"]
	path = vendor/StartAtLoginController
	url = git://github.com/alexzielenski/StartAtLoginController.git
[submodule "vendor/libcec"]
	path = vendor/libcec
	url = git://github.com/Pulse-Eight/libcec.git
[submodule "vendor/KNSharedCodeRepository"]
	path = vendor/KNSharedCodeRepository
	url = git://github.com/iKenndac/KNSharedCodeRepository.git
[submodule "vendor/M3AppKit"]
	path = vendor/M3AppKit
	url = https://github.com/pilky/M3Appkit
[submodule "vendor/Sparkle"]
	path = vendor/Sparkle
	url = git://github.com/andymatuschak/Sparkle.git
