<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Groups</key>
	<array>
		<dict>
			<key>Name</key>
			<string>NavigationGroupTitle</string>
			<key>Buttons</key>
			<array>
				<string>SELECT</string>
				<string>EXIT</string>
				<string>UP</string>
				<string>DOWN</string>
				<string>LEFT</string>
				<string>RIGHT</string>
				<string>LEFT_UP</string>
				<string>RIGHT_UP</string>
				<string>LEFT_DOWN</string>
				<string>RIGHT_DOWN</string>
			</array>
		</dict>
		<dict>
			<key>Name</key>
			<string>MediaControlGroupTitle</string>
			<key>Buttons</key>
			<array>
				<string>PLAY</string>
				<string>PAUSE</string>
				<string>STOP</string>
				<string>RECORD</string>
				<string>EJECT</string>
				<string>REWIND</string>
				<string>FAST_FORWARD</string>
			</array>
		</dict>
		<dict>
			<key>Name</key>
			<string>FunctionKeysGroupTitle</string>
			<key>Buttons</key>
			<array>
				<string>F2_RED</string>
				<string>F3_GREEN</string>
				<string>F4_YELLOW</string>
				<string>F1_BLUE</string>
			</array>
		</dict>
		<dict>
			<key>Name</key>
			<string>NumbersGroupTitle</string>
			<key>Buttons</key>
			<array>
				<string>NUMBER0</string>
				<string>NUMBER1</string>
				<string>NUMBER2</string>
				<string>NUMBER3</string>
				<string>NUMBER4</string>
				<string>NUMBER5</string>
				<string>NUMBER6</string>
				<string>NUMBER7</string>
				<string>NUMBER8</string>
				<string>NUMBER9</string>
			</array>
		</dict>
		<dict>
			<key>Name</key>
			<string>Debug</string>
			<key>Buttons</key>
			<array>
				<string>AN_CHANNELS_LIST</string>
				<string>ROOT_MENU</string>
				<string>SETUP_MENU</string>
				<string>CONTENTS_MENU</string>
				<string>FAVORITE_MENU</string>
				<string>DOT</string>
				<string>CLEAR</string>
				<string>ENTER</string>
				<string>CHANNEL_UP</string>
				<string>CHANNEL_DOWN</string>
				<string>PREVIOUS_CHANNEL</string>
				<string>NEXT_FAVORITE</string>
				<string>PAGE_UP</string>
				<string>PAGE_DOWN</string>
				<string>FORWARD</string>
				<string>BACKWARD</string>
				<string>DISPLAY_INFORMATION</string>
				<string>DATA</string>
				<string>SOUND_SELECT</string>
				<string>INPUT_SELECT</string>
				<string>HELP</string>
				<string>POWER</string>
				<string>VOLUME_UP</string>
				<string>VOLUME_DOWN</string>
				<string>MUTE</string>
				<string>STOP_RECORD</string>
				<string>PAUSE_RECORD</string>
				<string>ANGLE</string>
				<string>SUB_PICTURE</string>
				<string>VIDEO_ON_DEMAND</string>
				<string>ELECTRONIC_PROGRAM_GUIDE</string>
				<string>TIMER_PROGRAMMING</string>
				<string>INITIAL_CONFIGURATION</string>
				<string>PLAY_FUNCTION</string>
				<string>PAUSE_PLAY_FUNCTION</string>
				<string>RECORD_FUNCTION</string>
				<string>PAUSE_RECORD_FUNCTION</string>
				<string>STOP_FUNCTION</string>
				<string>MUTE_FUNCTION</string>
				<string>RESTORE_VOLUME_FUNCTION</string>
				<string>TUNE_FUNCTION</string>
				<string>SELECT_MEDIA_FUNCTION</string>
				<string>SELECT_AV_INPUT_FUNCTION</string>
				<string>SELECT_AUDIO_INPUT_FUNCTION</string>
				<string>POWER_TOGGLE_FUNCTION</string>
				<string>POWER_OFF_FUNCTION</string>
				<string>POWER_ON_FUNCTION</string>
				<string>F5</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
