<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ApplicationMappings</key>
	<array>
		<dict>
			<key>actions</key>
			<array>
				<dict>
					<key>class</key>
					<string>DKKeyboardShortcutLocalAction</string>
					<key>deviceCode</key>
					<string>UP</string>
					<key>flags</key>
					<integer>0</integer>
					<key>keyboardKey</key>
					<string>↑</string>
				</dict>
				<dict>
					<key>class</key>
					<string>DKKeyboardShortcutLocalAction</string>
					<key>deviceCode</key>
					<string>DOWN</string>
					<key>flags</key>
					<integer>0</integer>
					<key>keyboardKey</key>
					<string>↓</string>
				</dict>
				<dict>
					<key>class</key>
					<string>DKKeyboardShortcutLocalAction</string>
					<key>deviceCode</key>
					<string>LEFT</string>
					<key>flags</key>
					<integer>0</integer>
					<key>keyboardKey</key>
					<string>←</string>
				</dict>
				<dict>
					<key>class</key>
					<string>DKKeyboardShortcutLocalAction</string>
					<key>deviceCode</key>
					<string>RIGHT</string>
					<key>flags</key>
					<integer>0</integer>
					<key>keyboardKey</key>
					<string>→</string>
				</dict>
				<dict>
					<key>class</key>
					<string>DKKeyboardShortcutLocalAction</string>
					<key>deviceCode</key>
					<string>SELECT</string>
					<key>flags</key>
					<integer>0</integer>
					<key>keyboardKey</key>
					<string>↩</string>
				</dict>
				<dict>
					<key>class</key>
					<string>DKKeyboardShortcutLocalAction</string>
					<key>deviceCode</key>
					<string>EXIT</string>
					<key>flags</key>
					<integer>0</integer>
					<key>keyboardKey</key>
					<string>⎋</string>
				</dict>
				<dict>
					<key>class</key>
					<string>DKDoNothingLocalAction</string>
					<key>deviceCode</key>
					<string>LEFT_DOWN</string>
				</dict>
				<dict>
					<key>class</key>
					<string>DKDoNothingLocalAction</string>
					<key>deviceCode</key>
					<string>LEFT_UP</string>
				</dict>
				<dict>
					<key>class</key>
					<string>DKDoNothingLocalAction</string>
					<key>deviceCode</key>
					<string>RIGHT_DOWN</string>
				</dict>
				<dict>
					<key>class</key>
					<string>DKDoNothingLocalAction</string>
					<key>deviceCode</key>
					<string>RIGHT_UP</string>
				</dict>
				<dict>
					<key>class</key>
					<string>DKKeyboardShortcutLocalAction</string>
					<key>deviceCode</key>
					<string>NUMBER0</string>
					<key>flags</key>
					<integer>0</integer>
					<key>keyboardKey</key>
					<string>0</string>
				</dict>
				<dict>
					<key>class</key>
					<string>DKKeyboardShortcutLocalAction</string>
					<key>deviceCode</key>
					<string>NUMBER1</string>
					<key>flags</key>
					<integer>0</integer>
					<key>keyboardKey</key>
					<string>1</string>
				</dict>
				<dict>
					<key>class</key>
					<string>DKKeyboardShortcutLocalAction</string>
					<key>deviceCode</key>
					<string>NUMBER2</string>
					<key>flags</key>
					<integer>0</integer>
					<key>keyboardKey</key>
					<string>2</string>
				</dict>
				<dict>
					<key>class</key>
					<string>DKKeyboardShortcutLocalAction</string>
					<key>deviceCode</key>
					<string>NUMBER3</string>
					<key>flags</key>
					<integer>0</integer>
					<key>keyboardKey</key>
					<string>3</string>
				</dict>
				<dict>
					<key>class</key>
					<string>DKKeyboardShortcutLocalAction</string>
					<key>deviceCode</key>
					<string>NUMBER4</string>
					<key>flags</key>
					<integer>0</integer>
					<key>keyboardKey</key>
					<string>4</string>
				</dict>
				<dict>
					<key>class</key>
					<string>DKKeyboardShortcutLocalAction</string>
					<key>deviceCode</key>
					<string>NUMBER5</string>
					<key>flags</key>
					<integer>0</integer>
					<key>keyboardKey</key>
					<string>5</string>
				</dict>
				<dict>
					<key>class</key>
					<string>DKKeyboardShortcutLocalAction</string>
					<key>deviceCode</key>
					<string>NUMBER6</string>
					<key>flags</key>
					<integer>0</integer>
					<key>keyboardKey</key>
					<string>6</string>
				</dict>
				<dict>
					<key>class</key>
					<string>DKKeyboardShortcutLocalAction</string>
					<key>deviceCode</key>
					<string>NUMBER7</string>
					<key>flags</key>
					<integer>0</integer>
					<key>keyboardKey</key>
					<string>7</string>
				</dict>
				<dict>
					<key>class</key>
					<string>DKKeyboardShortcutLocalAction</string>
					<key>deviceCode</key>
					<string>NUMBER8</string>
					<key>flags</key>
					<integer>0</integer>
					<key>keyboardKey</key>
					<string>8</string>
				</dict>
				<dict>
					<key>class</key>
					<string>DKKeyboardShortcutLocalAction</string>
					<key>deviceCode</key>
					<string>NUMBER9</string>
					<key>flags</key>
					<integer>0</integer>
					<key>keyboardKey</key>
					<string>9</string>
				</dict>
				<dict>
					<key>class</key>
					<string>DKDoNothingLocalAction</string>
					<key>deviceCode</key>
					<string>PAUSE</string>
				</dict>
				<dict>
					<key>class</key>
					<string>DKKeyboardShortcutLocalAction</string>
					<key>deviceCode</key>
					<string>PLAY</string>
					<key>flags</key>
					<integer>0</integer>
					<key>keyboardKey</key>
					<string>↩</string>
				</dict>
				<dict>
					<key>class</key>
					<string>DKDoNothingLocalAction</string>
					<key>deviceCode</key>
					<string>RECORD</string>
				</dict>
				<dict>
					<key>class</key>
					<string>DKDoNothingLocalAction</string>
					<key>deviceCode</key>
					<string>STOP</string>
				</dict>
				<dict>
					<key>class</key>
					<string>DKKeyboardShortcutLocalAction</string>
					<key>deviceCode</key>
					<string>FAST_FORWARD</string>
					<key>flags</key>
					<integer>1048576</integer>
					<key>keyboardKey</key>
					<string>→</string>
				</dict>
				<dict>
					<key>class</key>
					<string>DKKeyboardShortcutLocalAction</string>
					<key>deviceCode</key>
					<string>REWIND</string>
					<key>flags</key>
					<integer>1048576</integer>
					<key>keyboardKey</key>
					<string>←</string>
				</dict>
				<dict>
					<key>class</key>
					<string>DKDoNothingLocalAction</string>
					<key>deviceCode</key>
					<string>EJECT</string>
				</dict>
				<dict>
					<key>class</key>
					<string>DKDoNothingLocalAction</string>
					<key>deviceCode</key>
					<string>F3_GREEN</string>
				</dict>
				<dict>
					<key>class</key>
					<string>DKDoNothingLocalAction</string>
					<key>deviceCode</key>
					<string>F4_YELLOW</string>
				</dict>
				<dict>
					<key>class</key>
					<string>DKShowMouseGridLocalAction</string>
					<key>deviceCode</key>
					<string>F1_BLUE</string>
				</dict>
				<dict>
					<key>class</key>
					<string>DKKeyboardShortcutLocalAction</string>
					<key>deviceCode</key>
					<string>F2_RED</string>
					<key>flags</key>
					<integer>0</integer>
					<key>keyboardKey</key>
					<string>⎋</string>
				</dict>
			</array>
			<key>identifier</key>
			<string>com.apple.launchpad.launcher</string>
			<key>name</key>
			<string>Launchpad</string>
		</dict>
	</array>
	<key>BaseMapping</key>
	<dict>
		<key>actions</key>
		<array>
			<dict>
				<key>class</key>
				<string>DKKeyboardShortcutLocalAction</string>
				<key>deviceCode</key>
				<string>UP</string>
				<key>flags</key>
				<integer>0</integer>
				<key>keyboardKey</key>
				<string>↑</string>
			</dict>
			<dict>
				<key>class</key>
				<string>DKKeyboardShortcutLocalAction</string>
				<key>deviceCode</key>
				<string>DOWN</string>
				<key>flags</key>
				<integer>0</integer>
				<key>keyboardKey</key>
				<string>↓</string>
			</dict>
			<dict>
				<key>class</key>
				<string>DKKeyboardShortcutLocalAction</string>
				<key>deviceCode</key>
				<string>LEFT</string>
				<key>flags</key>
				<integer>0</integer>
				<key>keyboardKey</key>
				<string>←</string>
			</dict>
			<dict>
				<key>class</key>
				<string>DKKeyboardShortcutLocalAction</string>
				<key>deviceCode</key>
				<string>RIGHT</string>
				<key>flags</key>
				<integer>0</integer>
				<key>keyboardKey</key>
				<string>→</string>
			</dict>
			<dict>
				<key>class</key>
				<string>DKKeyboardShortcutLocalAction</string>
				<key>deviceCode</key>
				<string>SELECT</string>
				<key>flags</key>
				<integer>0</integer>
				<key>keyboardKey</key>
				<string>↩</string>
			</dict>
			<dict>
				<key>class</key>
				<string>DKKeyboardShortcutLocalAction</string>
				<key>deviceCode</key>
				<string>EXIT</string>
				<key>flags</key>
				<integer>0</integer>
				<key>keyboardKey</key>
				<string>⎋</string>
			</dict>
			<dict>
				<key>class</key>
				<string>DKDoNothingLocalAction</string>
				<key>deviceCode</key>
				<string>LEFT_DOWN</string>
			</dict>
			<dict>
				<key>class</key>
				<string>DKDoNothingLocalAction</string>
				<key>deviceCode</key>
				<string>LEFT_UP</string>
			</dict>
			<dict>
				<key>class</key>
				<string>DKDoNothingLocalAction</string>
				<key>deviceCode</key>
				<string>RIGHT_DOWN</string>
			</dict>
			<dict>
				<key>class</key>
				<string>DKDoNothingLocalAction</string>
				<key>deviceCode</key>
				<string>RIGHT_UP</string>
			</dict>
			<dict>
				<key>class</key>
				<string>DKKeyboardShortcutLocalAction</string>
				<key>deviceCode</key>
				<string>NUMBER0</string>
				<key>flags</key>
				<integer>0</integer>
				<key>keyboardKey</key>
				<string>0</string>
			</dict>
			<dict>
				<key>class</key>
				<string>DKKeyboardShortcutLocalAction</string>
				<key>deviceCode</key>
				<string>NUMBER1</string>
				<key>flags</key>
				<integer>0</integer>
				<key>keyboardKey</key>
				<string>1</string>
			</dict>
			<dict>
				<key>class</key>
				<string>DKKeyboardShortcutLocalAction</string>
				<key>deviceCode</key>
				<string>NUMBER2</string>
				<key>flags</key>
				<integer>0</integer>
				<key>keyboardKey</key>
				<string>2</string>
			</dict>
			<dict>
				<key>class</key>
				<string>DKKeyboardShortcutLocalAction</string>
				<key>deviceCode</key>
				<string>NUMBER3</string>
				<key>flags</key>
				<integer>0</integer>
				<key>keyboardKey</key>
				<string>3</string>
			</dict>
			<dict>
				<key>class</key>
				<string>DKKeyboardShortcutLocalAction</string>
				<key>deviceCode</key>
				<string>NUMBER4</string>
				<key>flags</key>
				<integer>0</integer>
				<key>keyboardKey</key>
				<string>4</string>
			</dict>
			<dict>
				<key>class</key>
				<string>DKKeyboardShortcutLocalAction</string>
				<key>deviceCode</key>
				<string>NUMBER5</string>
				<key>flags</key>
				<integer>0</integer>
				<key>keyboardKey</key>
				<string>5</string>
			</dict>
			<dict>
				<key>class</key>
				<string>DKKeyboardShortcutLocalAction</string>
				<key>deviceCode</key>
				<string>NUMBER6</string>
				<key>flags</key>
				<integer>0</integer>
				<key>keyboardKey</key>
				<string>6</string>
			</dict>
			<dict>
				<key>class</key>
				<string>DKKeyboardShortcutLocalAction</string>
				<key>deviceCode</key>
				<string>NUMBER7</string>
				<key>flags</key>
				<integer>0</integer>
				<key>keyboardKey</key>
				<string>7</string>
			</dict>
			<dict>
				<key>class</key>
				<string>DKKeyboardShortcutLocalAction</string>
				<key>deviceCode</key>
				<string>NUMBER8</string>
				<key>flags</key>
				<integer>0</integer>
				<key>keyboardKey</key>
				<string>8</string>
			</dict>
			<dict>
				<key>class</key>
				<string>DKKeyboardShortcutLocalAction</string>
				<key>deviceCode</key>
				<string>NUMBER9</string>
				<key>flags</key>
				<integer>0</integer>
				<key>keyboardKey</key>
				<string>9</string>
			</dict>
			<dict>
				<key>class</key>
				<string>DKKeyboardShortcutLocalAction</string>
				<key>deviceCode</key>
				<string>PAUSE</string>
				<key>flags</key>
				<integer>0</integer>
				<key>keyboardKey</key>
				<string>Space</string>
			</dict>
			<dict>
				<key>class</key>
				<string>DKKeyboardShortcutLocalAction</string>
				<key>deviceCode</key>
				<string>PLAY</string>
				<key>flags</key>
				<integer>0</integer>
				<key>keyboardKey</key>
				<string>Space</string>
			</dict>
			<dict>
				<key>class</key>
				<string>DKDoNothingLocalAction</string>
				<key>deviceCode</key>
				<string>RECORD</string>
			</dict>
			<dict>
				<key>class</key>
				<string>DKKeyboardShortcutLocalAction</string>
				<key>deviceCode</key>
				<string>STOP</string>
				<key>flags</key>
				<integer>0</integer>
				<key>keyboardKey</key>
				<string>Space</string>
			</dict>
			<dict>
				<key>class</key>
				<string>DKKeyboardShortcutLocalAction</string>
				<key>deviceCode</key>
				<string>FAST_FORWARD</string>
				<key>flags</key>
				<integer>1048576</integer>
				<key>keyboardKey</key>
				<string>→</string>
			</dict>
			<dict>
				<key>class</key>
				<string>DKKeyboardShortcutLocalAction</string>
				<key>deviceCode</key>
				<string>REWIND</string>
				<key>flags</key>
				<integer>1048576</integer>
				<key>keyboardKey</key>
				<string>←</string>
			</dict>
			<dict>
				<key>class</key>
				<string>DKDoNothingLocalAction</string>
				<key>deviceCode</key>
				<string>EJECT</string>
			</dict>
			<dict>
				<key>class</key>
				<string>DKDoNothingLocalAction</string>
				<key>deviceCode</key>
				<string>F3_GREEN</string>
			</dict>
			<dict>
				<key>class</key>
				<string>DKDoNothingLocalAction</string>
				<key>deviceCode</key>
				<string>F4_YELLOW</string>
			</dict>
			<dict>
				<key>class</key>
				<string>DKShowMouseGridLocalAction</string>
				<key>deviceCode</key>
				<string>F1_BLUE</string>
			</dict>
			<dict>
				<key>bundleId</key>
				<string>com.apple.launchpad.launcher</string>
				<key>class</key>
				<string>DKLaunchApplicationLocalAction</string>
				<key>deviceCode</key>
				<string>F2_RED</string>
			</dict>
		</array>
	</dict>
</dict>
</plist>
