<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Groups</key>
	<array>
		<dict>
			<key>Name</key>
			<string>NavigationGroupTitle</string>
			<key>Buttons</key>
			<array>
				<string>SELECT</string>
				<string>EXIT</string>
				<string>UP</string>
				<string>DOWN</string>
				<string>LEFT</string>
				<string>RIGHT</string>
				<string>LEFT_UP</string>
				<string>RIGHT_UP</string>
				<string>LEFT_DOWN</string>
				<string>RIGHT_DOWN</string>
			</array>
		</dict>
		<dict>
			<key>Name</key>
			<string>MediaControlGroupTitle</string>
			<key>Buttons</key>
			<array>
				<string>PLAY</string>
				<string>PAUSE</string>
				<string>STOP</string>
				<string>RECORD</string>
				<string>EJECT</string>
				<string>REWIND</string>
				<string>FAST_FORWARD</string>
			</array>
		</dict>
		<dict>
			<key>Name</key>
			<string>FunctionKeysGroupTitle</string>
			<key>Buttons</key>
			<array>
				<string>F2_RED</string>
				<string>F3_GREEN</string>
				<string>F4_YELLOW</string>
				<string>F1_BLUE</string>
			</array>
		</dict>
		<dict>
			<key>Name</key>
			<string>NumbersGroupTitle</string>
			<key>Buttons</key>
			<array>
				<string>NUMBER0</string>
				<string>NUMBER1</string>
				<string>NUMBER2</string>
				<string>NUMBER3</string>
				<string>NUMBER4</string>
				<string>NUMBER5</string>
				<string>NUMBER6</string>
				<string>NUMBER7</string>
				<string>NUMBER8</string>
				<string>NUMBER9</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
